<div id="content" class="main-content">
    <div>
        <div class="main-content-inner">
            <div id="ribbonView" class="hidden"></div>
            <div id="contentView">
                <div>
                    <div class="page-content">
                        <div>
                            <div id="viewServiceReqTitle" class="page-header">
                                <div>
                                    <h1>View Service Request</h1>
                                </div>
                                <div class="errorMsg">{{ errorMsg }}</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div>
                                <form class="form-horizontal" role="form" id="cform" [formGroup]="viewServiceReqForm">
                                    <div class="row form-group">
                                        <div class="col-xs-12 form-group">
                                            <!--View type of request-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="transactionType">Type of request
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="typeOfReqId" formControlName="transactionType" readonly>
                                                </div>
                                            </div>

                                            <!--View Source code-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewSourceCode">Source Code
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="viewSourceCodeId" formControlName="viewSourceCode" readonly>
                                                </div>
                                            </div>

                                            <!--View Company Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="companyName">Company Name
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="companyNameId" formControlName="companyName" readonly>
                                                </div>
                                            </div>

                                            <!--View Company Name-->
                                            <div class="col-xs-6 control-group" *ngIf="enableMailCode">
                                                <div class="pull-left col-xs-4">
                                                    <label for="mailCode">Mail Code
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="authorizerId" formControlName="mailCode" readonly>
                                                </div>
                                            </div>

                                            <!--View Bank Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="bankName">Bank Name
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <select class="form-control" formControlName="bankName">
                                                        <option value="" selected disabled hidden>Select Company Name</option>
                                                        <option *ngFor="let bank of bankNames" [value]="bank.companyCode +','+ bank.bankAccountNumber">{{ bank.bankAccountName | uppercase}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--View Check Number-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewCheckNumber">Check Number
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="viewCheckNumberId" formControlName="viewCheckNumber" readonly>
                                                </div>
                                            </div>

                                            <!--View transaction date-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewDateOfTrans">Date
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewDateOfTransId" formControlName="viewDateOfTrans" readonly>
                                                </div>
                                            </div>

                                            <!--View Amount-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAmount">Amount
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input currencyMask class="form-control" id="viewAmountId" formControlName="viewAmount" readonly>
                                                </div>
                                            </div>

                                            <!--View Payee Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewPayee">Payee
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" id="viewPayeeId" formControlName="viewPayee" readonly></textarea>
                                                </div>
                                            </div>

                                            <!--View Address 1-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAdd1">Address1
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" id="viewAdd1Id" formControlName="viewAdd1" readonly></textarea>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAdd2">Address2
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" formControlName="viewAdd2" readonly></textarea>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAdd3">Address3
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" formControlName="viewAdd3" readonly></textarea>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 control-group" *ngIf="interAddress4">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAdd4">Address4
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" formControlName="viewAdd4" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 control-group" *ngIf="interAddress4">
                                                <div class="pull-left col-xs-4">
                                                    <label>Country
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <textarea appInputUpperCase class="form-control" formControlName="viewCountry" readonly></textarea>
                                                </div>
                                            </div>
                                            <div *ngIf="!interAddress4">
                                                <!--View City-->
                                                <div class="col-xs-6 control-group">
                                                    <div class="pull-left col-xs-4">
                                                        <label for="viewCity">City
                                                            <span>:</span>
                                                        </label>
                                                    </div>
                                                    <div class="pull-left col-xs-8">
                                                        <input type="text" appInputUpperCase class="form-control" id="viewCityId" formControlName="viewCity" readonly>
                                                    </div>
                                                </div>

                                                <!--View State-->
                                                <div class="col-xs-6 control-group">
                                                    <div class="pull-left col-xs-4">
                                                        <label for="ViewState">State
                                                            <span>:</span>
                                                        </label>
                                                    </div>
                                                    <div class="pull-left col-xs-8">
                                                        <input type="text" appInputUpperCase class="form-control" id="ViewStateId" formControlName="ViewState" readonly>
                                                    </div>
                                                </div>

                                                <!--View Zip code-->
                                                <div class="col-xs-6 control-group">
                                                    <div class="pull-left col-xs-4">
                                                        <label for="viewZipCode">Zip Code
                                                            <span>:</span>
                                                        </label>
                                                    </div>
                                                    <div class="pull-left col-xs-8">
                                                        <input OnlyNumber="true" class="form-control" id="viewZipCodeId" formControlName="viewZipCode" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--View Reason for void-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4" *ngIf="enableReasonLabel">
                                                    <label>Reason for Replacement
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-4" *ngIf="enableReasonVLabel">
                                                    <label>Reason for Void
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" appInputUpperCase class="form-control" id="viewRFVId" formControlName="viewRFV" readonly>
                                                </div>
                                            </div>

                                            <!--View original check-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewOriginalCheck">Do you have the original check?
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewOriginalCheckId" formControlName="viewOriginalCheck" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <!--row form group-->
                                    </div>

                                        <!--Account details table -->
                                        <div class="row form-group" *ngIf="enableAccountDtl">
                                            <div class="">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover dataTable" width="100%" role="grid" style="width: 100%;">
                                                        <caption>
                                                            <b>Accounting </b>
                                                        </caption>
                                                        <thead>
                                                            <tr role="row">
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 70px;">Debit/Credit </th>
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Account #</th>
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Amount</th>
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">Policy #</th>
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">SSN # / Suspense #</th>
                                                                <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">Alpha</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let i of data_accDetailsList" role="row" class="odd">
                                                                <td>{{ i.debitCreditFlag}} </td>
                                                                <td> {{i.accountNumber}}</td>
                                                                <td> {{ i.amount | currency:'' }} </td>
                                                                <td> {{ i.policyNumber }}</td>
                                                                <td> {{ i.suspenseNumber}} </td>
                                                                <td>{{ i.alpha}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--form group -->
                                        <div class="row form-group">
                                            <div class="center">
                                                <button class="btn btn-danger" (click)="delete()">Delete</button>
                                                <button class="btn btn-primary" (click)="onSubmit($event)">Edit</button>
                                                <button class="btn btn-warning  show-details-btn" (click)="onClickHome()">Home </button>
                                                <button class="btn btn-info" (click)="onPrint()">Print </button>
                                            </div>
                                        </div>                              
                                </form>
                                <!--form -->
                            </div>
                        </div>
                    </div>
                    <!--container fluid end-->
                </div>

            </div>
        </div>
    </div>