.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
control-messages{
    color: #FF0000;
}
.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .errorMsg {
    color: red;
}