<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="payeeInfoTitle" class="page-header">
                <div>
                  <h1>View Source Code Information</h1>
                </div>
              </div>
              <span class="errorMsg"> {{ statusFailMsg }}</span>
            </div>
            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="cform" [formGroup]="viewMaintSourcesForm">
                    <div class="row form-group">

                      <!--EAS Source code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>EAS Source Code:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="sourceCode" maxlength="30" readonly>
                        </div>
                      </div>
                      <!--Company code -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Company:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="companyCode" maxlength="15" readonly>
                        </div>
                      </div>
                      <!--Legacy Source code -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Legacy Source Code
                              <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="legacySourceCode" maxlength="30">
                        </div>
                        <control-messages [control]="viewMaintSourcesForm.controls.legacySourceCode"></control-messages>                        
                      </div>

                      <!-- Source code description-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Source Code Description:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="sourceDescription" maxlength="60" readonly>
                        </div>
                      </div>
                      <!-- Admin System -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="sourceSysNames">Admin System
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="sourceSysNames">
                            <option value="-1">--Select a Value--</option>
                            <option *ngFor="let codes of sourceSysNames" [value]="codes.code">{{ codes.code | uppercase}}</option>
                          </select>
                        </div>
                        <control-messages [control]="viewMaintSourcesForm.controls.sourceSysNames"></control-messages>
                      </div>
                      <!--Security Group -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Security Group
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="securityGroup" maxlength="30" (blur)="validateSecurityGrp($event.target.value)">
                        </div>
                        <control-messages [control]="viewMaintSourcesForm.controls.securityGroup"></control-messages>
                      </div>
                      <!-- RMS POOL -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="rmsPool">RMS Pool Indicator
                           :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="rmsPool">                       
                            <option value="Y">Y</option>
                            <option value=" ">N</option>
                          </select>
                        </div>
                      </div>
                      <!-- Update Option-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Update" formControlName="copyOrUpdate" name="copyOrUpdate"> Update (Modify)
                          </label>
                        </div>
                      </div>
                      <!-- Copy Option-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Copy" formControlName="copyOrUpdate" name="copyOrUpdate"> Copy (New)
                          </label>
                        </div>
                      </div>

                    </div>
                    <!--row form-group-->
                    <!--form group -->
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="onSubmit(viewMaintSourcesForm)">Submit</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>
            </div>
            <!--Conainer fluid -->

          </div>
          <!--Page content -->
        </div>
      </div>
      <!-- content view-->
    </div>
    <!-- main content inner-->
  </div>
</div>
<!-- main content-->