<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="payeeInfoTitle" class="page-header">
                <div>
                  <h1>View Payee Information</h1>
                </div>
              </div>
              <span> {{ errorStatusMsg }}</span>
            </div>
            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="cform" [formGroup]="viewPayeeInfoForm">
                    <div class="row form-group">
                      <!--Payee Code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeCode">Payee Code
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeCode">
                        </div>
                      </div>
                      <!--Company code -->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="companyCode">Company Code
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="companyCode">
                        </div>
                      </div>
                      <!--Source code -->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="sourceCode">Source Code
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="sourceCode">
                        </div>
                      </div>
                      <!--Legacy Source code -->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="legacySourceCode">Legacy Source Code
                            <sup class="required-field">* </sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="legacySourceCode">
                        </div>
                      </div>

                      <!--Account Type-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label>Account Type:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <select class="form-control" formControlName="accountType">
                            <option value="null">--Select Bank Account Type--</option>
                            <option value="Savings">SAVINGS</option>
                            <option value="Checking">CHECKING</option>
                          </select>
                        </div>
                      </div>

                      <!--Routing Number-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="routingNumber">Routing Number:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input OnlyNumber="true" class="form-control" formControlName="routingNumber">
                        </div>
                      </div>
                      <!--Account Number-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="accountNumber">Account Number:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input OnlyNumber="true" class="form-control" formControlName="accountNumber">
                        </div>
                      </div>
                      <!--Transaction Code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="transactionCode">Transaction Code:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="transactionCode" maxlength="2">
                        </div>
                      </div>
                      <!--Split Priority-->
                      <!-- <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="splitPriority">Split Priority:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="splitPriority">
                        </div>
                      </div> -->

                      <!--Split Amount-->
                      <!-- <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="splitAmount">Split Amount:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input OnlyNumber="true" class="form-control" formControlName="splitAmount">
                        </div>
                      </div> -->
                      <!--Split Percent-->
                      <!-- <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="splitPercent">Split Percent:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="splitPercent">
                        </div>
                      </div> -->

                      <!--Max Amount-->
                      <!-- <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="maxAmount">Max Amount:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input  appInputUpperCase class="form-control" formControlName="maxAmount">
                        </div>
                      </div> -->

                      <!--Payee Name-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeName">Payee Name:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeName" maxlength="60">
                        </div>
                      </div>

                      <!--Payee 1-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payee1">Payee1:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payee1" maxlength="60">
                        </div>
                      </div>
                      <!--Payee 2-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payee2">Payee2:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payee2" maxlength="60">
                        </div>
                      </div>
                      <!--Payee 3-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payee3">Payee3:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payee3" maxlength="60">
                        </div>
                      </div>

                      <!--Payee Address1-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeAdd1">Payee Address1:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeAdd1" maxlength="60">
                        </div>
                      </div>
                      <!--Payee Address2-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeAdd2">Payee Address2:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeAdd2" maxlength="60">
                        </div>
                      </div>
                      <!--Payee City-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeCity">Payee City:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeCity">
                        </div>
                      </div>
                      <!--Payee State-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeState">Payee State:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <select class="form-control" formControlName="payeeState">
                            <option value="null">--Select Payee State--</option>
                            <option *ngFor="let state of payeeStates" [value]="state.code">{{ state.code | uppercase}}</option>
                          </select>
                        </div>
                      </div>
                      <!---zip code -->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeZip">Payee Zip Code:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" formControlName="payeeZip" maxlength="5">
                        </div>
                        <div class="pull-left col-xs-3">
                          <input type="input" class="form-control" formControlName="payeeZip4" maxlength="4">
                        </div>
                      </div>

                      <!--Payee Country-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="payeeCountry">Payee Country:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeCountry" maxlength="60">
                        </div>
                      </div>
                      <!--Print Options-->
                      <!-- <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-5">
                          <label for="printOptions">Print Option:
                          </label>
                        </div>
                        <div class="pull-left col-xs-7">
                          <label>
                            <input type="radio" value="Y" formControlName="printOptionsFlag" name="printOptionsFlag"> Yes
                          </label>
                          <label>
                            <input type="radio" value="N" formControlName="printOptionsFlag" name="printOptionsFlag"> No
                          </label>
                        </div>
                      </div> -->
                    </div>
                    <!--row form-group-->
                    <!--form group -->
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="onEdit(viewPayeeInfoForm)">Edit</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>
            </div>
            <!--Conainer fluid -->

          </div>
          <!--Page content -->
        </div>
      </div>
      <!-- content view-->
    </div>
    <!-- main content inner-->
  </div>
</div>
<!-- main content-->