
.modal {
    background: rgba(0,0,0,0.6);
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-weight: bold;
  color: black;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FFFFFF;
}

.modal-footer{
  padding-top: 12px;
  padding-bottom: 14px;
  border-top-color: #e4e9ee;
  box-shadow: none;
  background: #FFFFFF
}