  <div id="sidebar" class="sidebar responsive">
      <!-- <div class="sidebar-shortcuts" id="sidebar-shortcuts"> </div> -->
      <!-- /.sidebar-shortcuts -->
      <ul class="nav nav-list">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="yourTransTab">
            <a data-title="Your Transactions" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/yourTransactions']">
              <i class="menu-icon fa fa-home"></i>
              <span class="menu-text">Your Transactions</span>
            </a>
          </li>
          <li routerLinkActive="active" *ngIf="requestVar">
            <a data-title="Request Disbursement" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/requestDisbursement', 'payee']">
              <i class="menu-icon fa fa-table"></i>
              <span class="menu-text">Request Disbursement</span>
            </a>
            <span [routerLink]="['/home//payeeAddress', 'payeeAddress']"></span>
            <span [routerLink]="['/home///accoutingDetails', 'list']"></span>
            <span [routerLink]="['/home////confirmation']" [queryParams]="{type: 'disbursement'}"></span>
          </li>
          <li routerLinkActive="active" *ngIf="replaceVar">
            <a data-title="Replace Check" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/replaceChecks', 'clientId']" [queryParams]="{type: 'Replace'}">
              <i class="menu-icon fa fa-table"></i>
              <span class="menu-text">Replace Check</span>
            </a>
            <span [routerLink]="['/home//verifyCheckInfo', 'check']" [queryParams]="{type: 'Replace'}"></span>
            <span [routerLink]="['/home///confirmation']" [queryParams]="{type: 'Replace'}"></span>
          </li>
          <li routerLinkActive="active" *ngIf="voidVar">
            <a data-title="Void Check" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/voidChecks', 'clientId']" [queryParams]="{type: 'Void'}">
              <i class="menu-icon fa fa-table"></i>
              <span class="menu-text"> Void Check</span>
            </a>
            <span [routerLink]="['/home//verifyVoidCheckInfo', 'check']" [queryParams]="{type: 'Void'}"></span>
            <span [routerLink]="['/home///confirmation']" [queryParams]="{type: 'Void'}"></span>
          </li>
          <li routerLinkActive="active" *ngIf="maintTab">
            <a data-title="Payees" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/searchPayee']">
              <i class="menu-icon fa fa-table"></i>
              <span class="menu-text">Search Payee</span>
            </a>
            <span [routerLink]="['/home//addPayee', 'data']">  </span>
          </li>
          <li routerLinkActive="active" *ngIf="sourcesTab">
              <a data-title="Source Codes" class="internalLink csc-sidemenu-text-wrap" [routerLink]="['/home/maintenance/sourceCodes']">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text" style="font-size: 12px;">Source Code Maintenance</span>
              </a>
              <span [routerLink]="['/home//maintenance/viewSources']">  </span> 
              <span [routerLink]="['/home///maintenance/success']"></span>
            </li>
          <li>
            <a data-title="Exit Application" class="internalLink csc-sidemenu-text-wrap" href="/application.jsp">
              <i class="menu-icon fa fa-stop-circle-o"></i>
              <span class="menu-text">Exit Application</span>
            </a>
          </li>
      </ul>
      <!-- /.nav-list --> 
      <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
  </div>
