<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="sucessTitle" class="page-header">
                <div>
                  <h1>Successful Submission</h1>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="">
                <div *ngIf="saveSuccessMsg">
                  <p> Your Source code has been copied successfully.</p>                
                </div>
                <div *ngIf="updateSUccessMsg">
                  <p> Your Source code has been updated successfully. </p>             
                </div>

                <div class="center">
                  <i class="glyphicon glyphicon-home"></i>
                  <br>
                  <a class="internalLink" routerLink="/home/maintenance/sourceCodes">Source Code Maintenance Home</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Container End-->
        </div>
      </div>
    </div>
  </div>
</div>