.inner-addon {
    position: relative;
  }
/* enable absolute positioning */
/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 3px 0px !important;
  pointer-events: none;
}
/* align glyph */
.center-addon .glyphicon {
     right: 100px;
    }

/* add padding  */
.center-addon input { padding-right: 0px; }

.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}

.details-alpha {
    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.details-policy {
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.details-account {
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
control-messages{
    color: #FF0000 !important;
}
.errorMsg {
    color: red !important;
}
.details-no{
/* width: 20px; */
width: 10px;
}
.details-drcr{
    /* width: 150px; */
    width: 55px;
}
.details-accountnumber{
    width: 138px;
}
.details-list{
    width: 120px;
}
.progress-bar{
    width: 75%;
}
.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }