<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div class="page-header">
                <h1>Accounting</h1>
                <div>
                  <small>
                    <span class="titleSpan">
                      <span>
                        <b>Your Information and Codes</b>
                      </span>&nbsp;</span>
                    <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                    <span>
                      <b>Payee Information and description</b>
                    </span>&nbsp;
                    <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                    <span>Accounting</span>&nbsp;
                  </small>
                </div>
                <div class="progress progress-bar" role="progressbar" class="progress-bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75% complete</div>
                <div class="pull-right">
                  <button id="addAccountDetails" class="btn btn-success btn-xs" (click)="addFieldValue('','', '','','','D')">
                    <i class="ace-icon fa fa-plus  bigger-110 icon-only"></i>
                    Add Accounting Details
                  </button>
                </div>
              </div>
            </div>

            <div id="addAccounts">
              <div class="errorMsg">{{errorMsg}}</div>
              <div class="errorMsg">{{errorMsgAccntFailed}}</div>
              <div>
                <div id="accountDetailsData">
                  <div>
                    <div id="accountingPage" class="">
                      <div id="accountingDataResults_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                          <div class="">
                            <form class="form-horizontal" role="form" id="cform" [formGroup]="accountDetailsForm">
                              <div class="table-responsive">

                                <div class="col-xs-6 control-group">
                                  <div class="pull-left col-xs-6">
                                    <label for="">Total Payment Amount</label>
                                    <span class="required-field">
                                      <b>*</b>
                                    </span> :
                                  </div>
                                  <div class="col-xs-6">
                                    <div class="form-group">
                                      <span>$</span>
                                      <input OnlyNumber="true" class="form-control" formControlName="totalCheckAmount" maxlength="14" (blur)="convertDecimal(accountDetailsForm.controls.totalCheckAmount,$event.target)">
                                      <control-messages [control]="accountDetailsForm.controls.totalCheckAmount" class="text-danger"></control-messages>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 control-group">
                                  <div class="pull-left col-xs-6">
                                    <label>Payment Admin System</label>
                                    <span class="required-field">
                                      <b>*</b>
                                    </span> :
                                  </div>
                                  <div class="pull-left col-xs-6">
                                    <select class="form-control" formControlName="paymentAdminSystem">
                                      <option value="null">--Select a value--</option>
                                      <option *ngFor="let codes of paymentAdminSystem" [value]="codes.code">{{ codes.code | uppercase}}</option>
                                    </select>
                                    <control-messages [control]="accountDetailsForm.controls.paymentAdminSystem" class="text-danger"></control-messages>
                                  </div>
                                </div>

                                <!-- Accout Details-->
                                <div formArrayName="accountsArray">
                                  <table id="accountingResults" class="accoutingTable table table-striped table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                      <tr role="row">
                                        <th class="details-no"> </th>
                                        <th class="details-drcr">DR/CR
                                          <sup class="required-field">*</sup>
                                        </th>
                                        <th class="details-accountnumber">Account #
                                          <sup class="required-field">*</sup>
                                        </th>
                                        <th class="details-list">Amount
                                          <sup class="required-field">*</sup>
                                        </th>
                                        <th class="details-list">Policy #
                                          <!-- <sup class="required-field">*</sup> -->
                                          <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Cusip Number (1-9) 
Contract No. (1-7)
Mortgage No. (1-7)
Invoice No. (1-7)
Policy No. (1-7)
Reins Code (8-11)
Group No. (8-11)
Billing No. (8-11)">
                                          </i>
                                        </th>
                                        <th class="details-list">Suspense #
                                          <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Agency-Agent No. (1-10) 
Social Security No. (1-9)
Suspence No. {216 & 218}(1-8)
Claim No. Due Date (1-6)
Suspence No. {224-226} (1-6)
Identification No. (1-5)">
                                          </i>
                                        </th>
                                        <th class="details-list">Alpha
                                          <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Alpha Com. (1-4) 
Ben/Dis. No. (1-4)">
                                          </i>
                                        </th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr *ngFor="let address of accountsArrayControls.controls; let i=index" role="row" class="odd" [formGroupName]="i">
                                        <td class="details-no">{{i+1}}</td>
                                        <td>
                                          <select class="details-drcr" formControlName="debitCreditFlag">
                                            <option value="D">DR</option>
                                            <option value="C">CR</option>
                                          </select>
                                        </td>
                                        <td>
                                          <input type="text" OnlyNumber="true" class="details-accountnumber" formControlName="accountNumber" maxlength="10" (blur)="validateAccoutDetails(accountDetailsForm.controls.accountsArray.controls[i])">
                                          <small>
                                            <control-messages [control]="accountDetailsForm.controls.accountsArray.controls[i].controls.accountNumber" class="text-danger"></control-messages>
                                          </small>
                                        </td>
                                        <td>
                                          <input type="text" OnlyNumber="true" class="details-list" maxlength="13" formControlName="amount" (blur)="convertDecimal(accountDetailsForm.controls.accountsArray.controls[i].controls.amount,$event.target)">
                                          <small>
                                            <control-messages [control]="accountDetailsForm.controls.accountsArray.controls[i].controls.amount" class="text-danger"></control-messages>
                                          </small>
                                        </td>
                                        <td>
                                          <input type="text" appInputUpperCase class="details-list" formControlName="policyNumber" maxlength="11">
                                          <small>
                                            <control-messages [control]="accountDetailsForm.controls.accountsArray.controls[i].controls.policyNumber" class="text-danger"></control-messages>
                                          </small>
                                        </td>
                                        <td>
                                          <input type="text" appInputUpperCase class="details-list" formControlName="suspenseNumber" maxlength="10">
                                        </td>


                                        <td>
                                          <input type="text" appInputUpperCase class="details-list" formControlName="alpha" maxlength="4">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!--table -responsive -->
                            </form>
                            <div class="row button-group">
                              <div class="center">
                                <button class="btn btn-primary" type="submit" (click)="onClickPrevious()">Previous</button>
                                <button class="btn btn-primary" type="submit" (click)="onSubmit(accountDetailsForm)">Submit</button>
                                <button class="btn btn-danger" (click)="onClickCancel()">Cancel</button>
                                <button class="btn btn-primary" type="submit" (click)="onSaveAsDraft(accountDetailsForm)">Save As Draft</button>
                              </div>
                            </div>
                            <!-- row button group-->
                          </div>
                        </div>
                      </div>
                      <!-- /.table-responsive-swipe -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Main content-->
      </div>
    </div>
    <!--Content -->