.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}

.search-btn{
    height: 34px;
    text-align: center;
    padding-top: 2px;
}
control-messages{
    color: #FF0000;
}
.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .errorMsg {
    color: red;
}