<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div class="page-header">
              <h1> Source Code Maintenance </h1>           
              <div class="errorMsg"> {{ errorStatusMsg }}</div>
            </div>

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" [formGroup]="searchSourceCodesForm">
                    <div class="row form-group">
                      <!---EAS Source Code -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>EAS Source Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" formControlName="sourceCode" maxlength="30">
                          <control-messages [control]="searchSourceCodesForm.controls.sourceCode"></control-messages>
                        </div>
                        <div class="pull-right col-xs-4">
                          <button class="btn btn-primary search-btn" (click)="onSearch(searchSourceCodesForm)">Search</button>
                        </div>
                      </div>
                    </div>

                    <div id="landingPage" class="row form-group" *ngIf="enableSources">
                      <div id="landingDataResults_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                          <div class="">
                            <div class="table-responsive">
                              <table id="landingDataResults" class="table table-striped table-bordered table-hover dataTable" width="100%" role="grid"
                                style="width: 100%;">
                                <thead>
                                  <tr role="row">
                                    <th>Id</th>
                                    <th>Company</th>
                                    <th>Admin System</th>
                                    <th>Legacy Source Code</th>
                                    <th>Source Code</th>
                                    <th>Source Description</th>
                                    <th>RMS Pool Indicator</th>
                                    <th>Security Group </th>
                                    <th>View </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of sourceServerResp" role="row" class="odd">
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.companyCode }} </td>
                                    <td>{{ data.sourceSystemName }}</td>
                                    <td> {{ data.legacySourceCode }}</td>
                                    <td>{{ data.sourceCode }} </td>
                                    <td>{{ data.sourceDescription }} </td>
                                    <td> {{ data.rmsPool}}</td>
                                    <td> {{ data.securityGroup }}</td>
                                    <td class="center text-nowrap">
                                      <a class="oa-js-nav">
                                        <i class="pointer fa fa-pencil green" aria-hidden="true" title="View" (click)="viewSourceRecord(data.id)"></i>
                                      </a>
                                    </td>                              
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                  <!--form -->
                </div>
              </div>
            </div>
            <!--Container-fluid -->
          </div>
        </div>
      </div>
    </div>
    <!--Main content-->
  </div>
</div>
<!--Content -->