<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="disbursementInfo" class="page-header">
                <div>
                  <h1>Information and Codes</h1>&nbsp;
                  <div>
                    <small>
                      <span class="titleSpan">
                        <span>Your Information and Codes</span>&nbsp;</span>
                      <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                      <span>
                        <b>Payee Information and description</b>
                      </span>&nbsp;
                      <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                      <span>
                        <b>Accounting</b>
                      </span>&nbsp;
                    </small>
                  </div>
                  <div class="progress progress-bar" role="progressbar" class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25% complete</div>
                </div>
              </div>
              <div class="row form-group">
                <div class="alert alert-warning" role="alert">
                  <strong> Please verify that the Source code entered matches the Payment Type (EFT or Check) you selected.</strong>
                </div>
              </div>
              <div class="left">
                <span class="errorMsg">{{errorCompanyNAcc}}</span>
                <span class="errorMsg"> {{ statusFailMsg }} </span>
                <span class="errorMsg"> {{ errMsgCompanySource }}</span>
              </div>
            </div>

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="reqDisbursement" [formGroup]="disbursementForm">
                    <div class="row form-group">

                      <!--Company Name  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyCode">Company Name
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="companyCode">
                            <option value="">--Pick a Company--</option>
                            <option *ngFor="let companyCode of companies" [value]="companyCode.code">{{ companyCode.name | uppercase}}</option>
                          </select>
                        </div>
                        <control-messages [control]="disbursementForm.controls.companyCode"></control-messages>
                      </div>
                      <!-- Source Code  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="sourceCode">Source Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="sourceCode" maxlength="5" (blur)="onChangeOfSourceCode($event.target)">
                        </div>
                        <control-messages [control]="disbursementForm.controls.sourceCode"> </control-messages>
                      </div>
                      <!--Phone Number-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="rbPhnNum">Phone Number :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input OnlyNumber="true" class="form-control" formControlName="rbPhnNum" maxlength="10">
                        </div>
                      </div>
                      <div class="row col-xs-12">
                        <!---Electronic Fund Transfer -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="EFT" formControlName="checkOrEftRadioFlag" name="checkOrEftRadioFlag" (change)="validateOnChange($event)">
                            <label for="checkOrEftRadioFlag">Electronic Fund Transfer</label>
                          </div>
                        </div>
                      </div>
                      <!--row group-->
                      <div class="row col-xs-12">
                        <!---Check -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="Check" formControlName="checkOrEftRadioFlag" name="checkOrEftRadioFlag" (change)="validateOnChange($event)">
                            <label for="checkOrEftRadioFlag">Check</label>
                          </div>
                        </div>
                      </div>
                      <!--row-group-->
                      <!-- Description Code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="descriptionCode">Description Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="descriptionCode" maxlength="5">
                        </div>
                        <div class="errorMsg">{{errorMsgDescCode}}</div>
                      </div>
                      <!-- state  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="states">State
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="states">
                            <option value="null">--Pick a State ---</option>
                            <option *ngFor="let state of states" [value]="state.code"> {{state.name | uppercase}} </option>
                          </select>
                        </div>
                        <control-messages [control]="disbursementForm.controls.states"></control-messages>
                      </div>
                      <!-- Mailcode dropdown  -->
                      <div class="col-xs-12 control-group" *ngIf="enableMailCode">
                        <div class="pull-left col-xs-4">
                          <label>Mail Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="mailCodes">
                            <option *ngFor="let mailcode of mailCodes; let i= index" [selected]="i == 4" [value]="mailcode.code">{{mailcode.code}} - {{mailcode.description | uppercase}} </option>
                          </select>
                        </div>
                      </div>
                      <!--Tax ID-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="taxId"> Tax ID
                            <sup class="required-field" *ngIf="requiredTaxId">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input OnlyNumber="true" class="form-control" formControlName="taxId" maxlength="9">
                        </div>
                        <control-messages [control]="disbursementForm.controls.taxId"></control-messages>
                      </div>
                      <!---Original Check -->
                      <div class="col-xs-12 control-group" *ngIf="enablePayeeCdYesOrNo">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCodeFlag">Do you have a Payee Code
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Y" formControlName="payeeCodeFlag" name="payeeCodeFlag" (change)="validateOnVendorCode()"> Yes
                          </label>
                          <label>
                            <input type="radio" value="N" formControlName="payeeCodeFlag" name="payeeCodeFlag" (change)="validateOnVendorCode()"> No
                          </label>
                        </div>
                        <control-messages [control]="disbursementForm.controls.payeeCodeFlag"></control-messages>
                      </div>
                      <!--Vendor Code-->
                      <div class="col-xs-12 control-group" *ngIf="enablePayeeCode">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCode"> Payee Code
                            <span class="required-field" *ngIf="enablePayeeCdYesOrNo">* </span>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" appInputUpperCase class="form-control" formControlName="payeeCode">
                        </div>
                        <control-messages [control]="disbursementForm.controls.payeeCode"></control-messages>
                      </div>
                      <div *ngIf="enablePayeeDetails">
                        <!--Routing Number-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="routingNumber">Bank Routing Number
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input OnlyNumber="true" class="form-control" formControlName="routingNumber" maxlength="9">
                          </div>
                          <control-messages [control]="disbursementForm.controls.routingNumber"></control-messages>
                        </div>
                        <!--Account Number-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="accountNumber">Bank Account Number
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input OnlyNumber="true" class="form-control" formControlName="accountNumber" maxlength="30">
                          </div>
                          <control-messages [control]="disbursementForm.controls.accountNumber"></control-messages>
                        </div>
                        <!--Account Type  -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label>Account Type
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <select class="form-control" formControlName="accountType">
                              <option value="null">--Select Bank Account Type--</option>
                              <option value="Savings">SAVINGS</option>
                              <option value="Checking">CHECKING</option>
                            </select>
                          </div>
                          <control-messages [control]="disbursementForm.controls.accountType"></control-messages>
                        </div>
                      </div>
                      <!--ng if-->
                      <!--Distribution codes -->
                      <div class="col-xs-12 control-group" *ngIf="enableDistribCode">
                        <div class="pull-left col-xs-4">
                          <label for="distributionCode">Distribution Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select type="text" class="form-control" formControlName="distributionCode">
                            <option value="null">--Select Distribution Code--</option>
                            <option *ngFor="let code of distributionCodes" [value]="code.code">{{ code.code }} - {{ code.description | uppercase}} </option>
                          </select>
                        </div>
                        <control-messages [control]="disbursementForm.controls.distributionCode"></control-messages>
                      </div>

                    </div>
                    <!--row form-group-->
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="onSubmit(disbursementForm)">Next</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                        <button class="btn btn-primary" (click)="onSaveAsDraft(disbursementForm)">Save As Draft</button>

                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>
            <!--Container fluid -->

          </div>
        </div>
      </div>
    </div>
  </div>