<div id="content" class="main-content">
  <div>
    <div id="ribbonView" class="hidden"></div>
      <div class="main-content-inner">
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="replaceCheckTitle" class="page-header">
                <div>
                  <h1>Company and Check Number screen</h1>
                  <div>
                    <small>
                      <span class="titleSpan">
                        <span>Company, check number, and source code</span>&nbsp;</span>
                      <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                      <span>
                        <b>Verify check information</b>
                      </span>&nbsp;
                    </small>
                  </div>
                  <div class="progress progress-bar" role="progressbar" class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50% complete</div>      
                </div>            
              </div>
              <div class="errorMsg">{{errorCCCN}}</div>
            </div>
            
            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="cform" [formGroup]="replaceCheckForm" >
                    <div class="row form-group">
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyCode">Company Name/ bank information
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-5">
                          <select class="form-control" formControlName="companyCode" >
                            <option value="" selected disabled hidden>Select Company Name</option>
                            <option *ngFor="let bank of bankNames" [value]="bank.companyCode +','+ bank.bankAccountNumber" >{{ bank.bankAccountName | uppercase }}</option>
                          </select>
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.companyCode"></control-messages>
                      </div>

                      <!---Check Number -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="checkNumber">Check Number
                            <sup class="required-field">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-5">
                          <input OnlyNumber="true" class="form-control" id="checkNumber" formControlName="checkNumber"  maxlength="11">
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.checkNumber"></control-messages>
                      </div>
                      <!---Source code -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="sourceCode">Source Code
                            <sup class="required-field">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-5">
                          <input type="text" appInputUpperCase  class="form-control" id="sourceCode" maxlength="5" formControlName="sourceCode">
                        </div>
                        <div class="errorMsg">{{ errorMsgSrcCode }}</div>
                        <control-messages [control]="replaceCheckForm.controls.sourceCode"></control-messages>
                      </div>

                      <!---Phone Number -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="phoneNumber">Phone Number :
                          </label>
                        </div>
                        <div class="pull-left col-xs-5">
                          <input OnlyNumber="true" class="form-control" id="phoneNumber" maxlength="10" formControlName="phoneNumber">
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.phoneNumber"></control-messages>
                      </div>
                    </div>

                    <!--form group -->
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="onNext(replaceCheckForm)">Next</button>
                        <button class="btn btn-danger" (click)="navigateToHome()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>


          </div>
          <!-- page content -->
        </div>
      </div>
      <!--content view -->
    </div>
  </div>