.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
control-messages{
    color: #FF0000 !important;
}
div.input{
    color: black;
}
.ui-datepicker-trigger {
    position: absolute;
    padding: 0px 0px 2px 0px;
    height: 22px;
     margin-left:-18px;
     background-color: #ffffff;
     border-radius: 5px;
  }
    .glyphColor{
      color: #0079C2 !important;
    }
    .errorMsg {
        color: red !important;
    }
    .progress-bar{
        width: 25%;
    }
    