<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="verifyCheckInfo" class="page-header">
                <div>
                  <h1>Verify Check Information</h1> &nbsp;
                  <div>
                    <small>
                        <span class="titleSpan">
                            <span><b>Company, check number, and source code</b></span>&nbsp;</span>
                          <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                          <span>
                            Verify check information
                          </span>&nbsp;
                    </small>
                  </div>
                  <div class="progress progress-bar" role="progressbar" class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% complete</div>                                 
                </div>
              </div>
              <div class="errorMsg">{{errorMsgStatusFail}}</div>
            </div>
            
            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="vcform" [formGroup]="verifyCheckInfoForm" >
                    <div class="row form-group">
                      <!--Payee Name  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeName">Payee:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input class="form-control" appInputUpperCase formControlName="payeeName" id="payeeName" readonly>
                        </div>
                      </div>

                      <div class="row col-xs-12">
                        <!---USA -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="U.S" formControlName="usOrIntRadioBtn" name="usOrIntRadioBtn" (change)="validateStateOrCountry($event)">
                            <label for="usOrIntRadioBtn">U.S.</label>
                          </div>
                        </div>
                      </div>
                      <!--International-->
                      <div class="row col-xs-12">
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="International" formControlName="usOrIntRadioBtn" name="usOrIntRadioBtn" (change)="validateStateOrCountry($event)">
                            <label for="usOrIntRadioBtn">International </label>
                          </div>
                        </div>
                      </div>

                      <!-- Payee address  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress1">Address1
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input  appInputUpperCase class="form-control" formControlName="payeeAddress1">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeAddress1"></control-messages>
                      </div>
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress2">Address2 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeAddress2">
                        </div>
                      </div>
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress3">Address3 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeAddress3">
                        </div>
                      </div>
               
                      <div *ngIf="!interAddFields">
                        <!--- Address4 -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label>Address4
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input appInputUpperCase class="form-control" formControlName="payeeAddress4">
                          </div>
                        </div>
                        <!-- country-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label> Country
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" appInputUpperCase class="form-control" formControlName="country">
                          </div>
                          <control-messages [control]="verifyCheckInfoForm.controls.country"></control-messages>
                        </div>
                      </div>   
                      
                      <div *ngIf="interAddFields">
                      <!-- city  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCity">City
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeCity">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeCity"></control-messages>
                      </div>

                      <!-- state  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeState">State
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="payeeState">
                            <option value="null">--Select State ---</option>
                            <option *ngFor="let state of payeeState" [value]="state.code"> {{ state.code | uppercase }} </option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeState"></control-messages>
                      </div>

                      <!-- Zip  code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeZip">Zip
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-2">
                          <input OnlyNumber="true" class="form-control" formControlName="payeeZip" maxlength="5">
                        </div>
                        <div class="pull-left col-xs-2">
                          <input OnlyNumber="true" class="form-control" formControlName="payeeZipPlusFour" maxlength="4">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeZip"></control-messages>
                      </div>
                    </div> <!--End flag -->

                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label> Mail code
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="mailCodes">
                            <option *ngFor="let mailcode of mailCodes; let i= index" [value]="mailcode.code" [selected]="i == 4"> {{ mailcode.description | uppercase }}</option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.mailCodes"></control-messages>
                      </div>

                      <!---Amount -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="amount">Amount
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input currencyMask type="input" class="form-control" id="amount" formControlName="amount" readonly>
                        </div>
                      </div>
                      <!---Date Field -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="verifyDate">Date
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="verifyDateId" formControlName="verifyDate" readonly>
                        </div>
                      </div>
                      <!---company name -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyCode">Company :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="companyCodeId" formControlName="companyCode" readonly>
                        </div>
                      </div>
                      <!--Description -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="description">Description :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="description" formControlName="description" readonly>
                        </div>
                      </div>
                      <!-- Payment Admin System -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Payment Admin System</label> :
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="paymentAdminSystem" readonly>
                            <option value="null">--Select a value--</option>
                            <option *ngFor="let codes of paymentAdminSystem" [value]="codes.code">{{ codes.code | uppercase}}</option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.paymentAdminSystem" class="text-danger"></control-messages>
                      </div>

                      <!-- Reason to replace check-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyInfo">Reason for replacement
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="reasonCodes" (change)="onChangeOfReasons()">
                            <option  value=""  selected disabled hidden>--Please Select Reason--</option>
                            <option *ngFor="let r of reasonCodes"  [value]="r.reason"> {{ r.reason | uppercase }}</option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.reasonCodes"></control-messages>
                      </div>

                      <!--Other Reason to replace check-->
                      <div class="col-xs-12 control-group" *ngIf="enabledOtherReason">
                        <div class="pull-left col-xs-4">
                          <label for="otherReason">Other Reason</label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="otherReasonId" formControlName="otherReason">
                        </div>
                      </div>

                      <!---Original Check -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="originalCheck">Do you have the original check?
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Y" formControlName="originalCheck" name="originalCheck"> Yes
                          </label>
                          <label>
                            <input type="radio" value="N" formControlName="originalCheck" name="originalCheck"> No
                          </label>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.originalCheck"></control-messages>
                      </div>

                    </div>
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="clickPrevious()">Previous</button>
                        <button class="btn btn-primary" (click)="onSubmit(verifyCheckInfoForm)">Submit</button>
                        <button class="btn btn-danger" (click)="navigateToHome()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>