
<app-header></app-header>
<div id="main-container" class="main-container container" >		
	<app-sidemenu  routerLinkActive="active" ></app-sidemenu>
	<div>
		<router-outlet></router-outlet>
	</div>
	<app-footer></app-footer>
	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-up icon-only"></i>
		<br>
		<span> back to
			<br>
		</span>
		top
	</a>
</div>
