<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="viewDisbursementTitle" class="page-header">
                <div>
                  <h1>View Disbursement Request</h1>
                </div>
                <div class="errorMsg">{{ errorMsg }}</div>
              </div>
            </div>

            <div class="container-fluid">
              <div>
                <form class="form-horizontal" role="form" id="cform" [formGroup]="viewDisbursementForm">
                  <div class="row form-group">
                    <div class="col-xs-12 form-group">
                      <!--View Company Name-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewCompanyCode">Company
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewCompanyCode" readonly>
                        </div>
                      </div>
                      <!--View Payee Amount-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewAmount"> Amount
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input currencyMask class="form-control" formControlName="viewAmount" readonly>
                        </div>
                      </div>

                      <!--View Source code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewSourceCode">Source Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewSourceCode" readonly>
                        </div>
                      </div>
                      <!--View Check Type-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewCheckType"> Type
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewCheckType" readonly>
                        </div>
                      </div>
                      <!--View Phone Number-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPhoneNumber">Phone Number
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input OnlyNumber="true" class="form-control" formControlName="viewPhoneNumber" readonly>
                        </div>
                      </div>

                      <!--View Payee Code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPayeeCode">Payee Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewPayeeCode" readonly>
                        </div>
                      </div>
                      <!--View Mail Code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewMailCode">Mail Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <select class="form-control" formControlName="viewMailCode">
                            <option *ngFor="let mailcode of mailCodes" [value]="mailcode.code">{{mailcode.code | uppercase}}</option>
                          </select>
                        </div>
                      </div>
                      <!--View Payee zip-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewStateCode"> State Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <select class="form-control" formControlName="viewStateCode">
                            <option value="">--Pick a State ---</option>
                            <option *ngFor="let state of states" [value]="state.code">{{state.gidCode}} - {{state.name | uppercase}} </option>
                          </select>
                        </div>
                      </div>
                      <!--View Payee Description-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewDescription"> Description1
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <textarea type="text" appInputUpperCase class="form-control" formControlName="viewDescription" readonly></textarea>
                        </div>
                      </div>
                      <!--View Payee Description2-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewDescription2"> Description2
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <textarea appInputUpperCase class="form-control" formControlName="viewDescription2" readonly></textarea>
                        </div>
                      </div>


                      <!--View Payee Name-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPayeeName">Payee Name
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <textarea appInputUpperCase class="form-control" formControlName="viewPayeeName" readonly></textarea>
                        </div>
                      </div>


                      <!-- <div class="form-group"> -->
                      <!--View Address-->
                      <div *ngIf="enableAddressFields">
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="viewPayeeAddress">Address1
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-8">
                            <textarea appInputUpperCase class="form-control" formControlName="viewPayeeAddress" readonly></textarea>
                          </div>
                        </div>
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="viewPayeeAddress2">Address2
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-8">
                            <textarea appInputUpperCase class="form-control" formControlName="viewPayeeAddress2" readonly></textarea>
                          </div>
                        </div>
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="viewPayeeAddress3">Address3
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-8">
                            <textarea appInputUpperCase class="form-control" formControlName="viewPayeeAddress3" readonly></textarea>
                          </div>
                        </div>
                      </div>
                      <!--end ngIf -->
                      <div *ngIf="enableIntAdd">
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="viewPayeeAddress4">Address4
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-8">
                            <textarea appInputUpperCase class="form-control" formControlName="viewPayeeAddress4" readonly>></textarea>
                          </div>
                        </div>
                      </div>
                      <!--View City-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPayeeCity">City
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewPayeeCity" readonly>
                        </div>
                      </div>

                      <!--View State-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPayeeState">State
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input type="text" appInputUpperCase class="form-control" formControlName="viewPayeeState" readonly>
                        </div>
                      </div>

                      <!--View Zip code-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewPayeeZip">Zip Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input OnlyNumber="true" class="form-control" formControlName="viewPayeeZip" readonly>
                        </div>
                      </div>
                      <!-- </div> address form-group -->

                      <!--View Tax Id-->
                      <div class="col-xs-6 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="viewTaxId">Tax ID
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-8">
                          <input OnlyNumber="true" class="form-control" formControlName="viewTaxId" readonly>
                        </div>
                      </div>
                    </div>
                    <!--row form group-->
                    <!--form group -->
                  </div>

                  <div class="row form-group" *ngIf="enableAccountDtl">
                    <div class="">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable" width="100%" role="grid" style="width: 100%;">
                          <caption>
                            <b>Accounting </b>
                          </caption>
                          <thead>
                            <tr role="row">
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 70px;">Debit/Credit </th>
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Account #</th>
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Amount</th>
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">Policy #</th>
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">SSN # / Suspense #</th>
                              <th tabindex="0" rowspan="1" colspan="1" style="width: 86px;">Alpha</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let i of data_accDetailsList" role="row" class="odd">
                              <td>{{ i.debitCreditFlag}} </td>
                              <td> {{i.accountNumber}}</td>
                              <td> {{ i.amount | currency:'' }} </td>
                              <td> {{ i.policyNumber }}</td>
                              <td> {{ i.suspenseNumber}} </td>
                              <td>{{ i.alpha}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>


                  <div class="row row form-group">
                    <div class="center">
                      <button class="btn btn-danger" *ngIf="enableDeleteFlag" (click)="delete($event)">Delete</button>
                      <button class="btn btn-primary" (click)="onSubmit($event)">Edit</button>
                      <button class="btn btn-warning  show-details-btn" (click)="onClickHome()">Home </button>
                      <button class="btn btn-info" (click)="onPrint()">Print </button>
                    </div>
                  </div>

                </form>
                <!--form -->
              </div>
            </div>
          </div>
          <!--container fluid end-->
        </div>

      </div>
    </div>
  </div>