.errorMsg {
    color: red !important;
}

@media print{   
        .table.table-bordered > thead > tr > th {
            font-weight: normal;
        }
        b, strong {
            font-weight: normal;
        }
    }