<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="verifyCheckInfo" class="page-header">
                <div>
                  <h1>Verify Check Information</h1>&nbsp;
                  <div>
                      <small>
                          <span class="titleSpan">
                              <span><b>Company, check number, and source code</b></span>&nbsp;</span>
                            <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                            <span>
                              Verify check information
                            </span>&nbsp;
                      </small>
                  </div>
                </div>
                <div class="progress progress-bar" role="progressbar" class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% complete</div>                                               
              </div>
              <div class="errorMsg">{{errorMsgStatusFail}}</div>
            </div>

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="vcform" [formGroup]="verifyVoidCheckForm" >
                    <div class="row form-group">
                      <!--Payee Name  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeName">Payee:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeName" id="payeeName" readonly>
                        </div>
                      </div>
                      <!-- Payee address  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress1">Address1 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeAddress1" readonly>
                        </div>
                      </div>

                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress2">Address2 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeAddress2" readonly>
                        </div>
                      </div>
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress3">Address3 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeAddress3" readonly>
                        </div>
                      </div> 
                      <!-- city  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCity">City :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input appInputUpperCase class="form-control" formControlName="payeeCity" readonly>
                        </div>
                      </div>

                      <!-- state  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeState">State :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" formControlName="payeeState" readonly>
                        </div>
                      </div>

                      <!-- Zip  code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeZip">Zip :
                          </label>
                        </div>
                        <div class="pull-left col-xs-2">
                          <input OnlyNumber="true" class="form-control" formControlName="payeeZip" readonly>
                        </div>
                        <div class="pull-left col-xs-2">
                          <input OnlyNumber="true" class="form-control" formControlName="payeeZipPlusFour" readonly>
                        </div>
                      </div>

                      <!---Amount -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="amount">Amount
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input currencyMask type="input" class="form-control" id="amount" formControlName="amount" readonly>
                        </div>
                      </div>
                      <!---Date Field -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="verifyDate">Date
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="verifyDateId" formControlName="verifyDate" readonly>
                        </div>
                      </div>

                      <!---company name -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyCode">Company :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="companyCodeId" formControlName="companyCode" readonly>
                        </div>
                      </div>
                      <!--Description -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="description">Description :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="description" formControlName="description" readonly>
                        </div>
                      </div>
                      <!--Void to dropdown-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="voidTo"> Void to
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" formControlName="voidTo" readonly>
                        </div>
                      </div>
                      <!-- Reason to void or replace check-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyInfo">Reason for Void
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="reason" (change)="onChangeOfReasons()">
                            <option value="" selected disabled hidden>--Please Select Reason--</option>
                            <option *ngFor="let reason of reasonCodes" [value]="reason.reason"> {{ reason.reason | uppercase}}</option>
                          </select>
                        </div>
                        <control-messages [control]="verifyVoidCheckForm.controls.reason"></control-messages>
                      </div>

                      <!--Other Reason to void or replace check-->
                      <div class="col-xs-12 control-group" *ngIf="enabledOtherReason">
                        <div class="pull-left col-xs-4">
                          <label for="otherReason">Other Reason</label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" appInputUpperCase class="form-control" id="otherReasonId" formControlName="otherReason" value="">
                        </div>
                      </div>

                      <!---Original Check -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="originalCheck">Do you have the original check?
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Y" formControlName="originalCheck" name="originalCheck"> Yes
                          </label>
                          <label>
                            <input type="radio" value="N" formControlName="originalCheck" name="originalCheck"> No
                          </label>
                        </div>
                        <control-messages [control]="verifyVoidCheckForm.controls.originalCheck"></control-messages>
                      </div>
                    </div>
                    <div class="row button-group">
                      <div class="center">
                        <button class="btn btn-primary" (click)="clickPrevious()">Previous</button>
                        <button class="btn btn-primary" (click)="onSubmit(verifyVoidCheckForm)">Submit</button>
                        <button class="btn btn-danger" (click)="navigateToHome()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>