.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
control-messages{
    color: #FF0000 !important;
}
.errorMsg {
    color: red !important;
}
.progress-bar{
    width: 25%;
}
