
<div id="content" class="main-content">
    <div>
      <div class="main-content-inner">
        <div id="ribbonView" class="hidden"></div>
        <div id="contentView">
          <div>
            <div class="page-content">
              <div class="page-header">
                <h1>Your Transactions</h1>
              </div>
              <div id="yourTransactionsData">
                <div>
                  <div id="landingPage" class="">
                    <div id="landingDataResults_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
  
                      <div class="row">
                        <div class="">
                          <div class="table-responsive">
                            <table  matSort (matSortChange)="sortData($event)" matSortDirection="asc"   matSortDisableClear
                            id="landingDataResults" 
                            class="table table-striped table-bordered table-hover dataTable"
                              width="100%" role="grid"  style="width: 100%;"> 
                               <thead>                  
                                <tr role="row">
                                  <th mat-sort-header="transactionType" tabindex="0" rowspan="1" colspan="1" style="width: 137px;" > Type of Transaction</th>
                                  <th mat-sort-header="checkDate" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">Date/Time</th>
                                  <th mat-sort-header="payeeName" tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Payee Name</th>
                                  <th mat-sort-header="status" rowspan="1" colspan="1" style="width: 86px;">Status</th>
                                  <th  rowspan="1" colspan="1" style="width: 32px;" aria-label="" >View</th>
                                </tr>
                              </thead>
                              <tbody>                                              
                                <tr *ngFor="let data of sortedData" role="row" class="odd">
                                  <td>{{ data.transactionType }}</td>
                                  <td>{{ data.lastModified }}</td>
                                  <td>{{ data.payeeName }}</td>
                                  <td>{{ data.status }}</td>
                                  <td class="center text-nowrap">
                                    <a  class="oa-js-nav">
                                      <i class="pointer fa fa-pencil green" aria-hidden="true" title="View" (click)="viewTransactions(data.clientId)"></i>
                                    </a>
                                  </td>
                                </tr>
                            </tbody>
                            </table>
                          </div>
                          <div id="landingDataResults_processing" class="dataTables_processing panel panel-default" style="display: none;">Processing...</div>
                        </div>
                      </div>
                    </div>
                    <!-- /.table-responsive-swipe -->
                  </div>
                </div>
              </div>
            </div>


            <!-- <div class="page-content" *ngIf="maintTab">
              <div class="page-header">
                <h1> Check Service Center Maintenance</h1>
              </div>
            </div> -->

          </div>
        </div>
      </div>
      <!--Main content-->
    </div>
  </div>
   <!--Content -->