control-messages{
    color: #FF0000 !important;
}
.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
.errorMsg {
    color: red !important;
}

.error-msg{
    margin: 0px 0px 0px 0px !important;
    height:16px;  
}
.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }


