<div id="content" class="main-content">
    <div>
      <div class="main-content-inner">
        <div id="ribbonView" class="hidden"></div>
        <div id="contentView">
          <div>
            <div class="page-content">
              <div class="page-header">
                <h1> Check Service Center Maintenance - PAYEEINFO</h1>
                <div class="errorMsg">{{ errorStatusMsg }}</div>
              </div>
  
              <div class="container-fluid">
                <div class="">
                  <div>
                    <form class="form-horizontal" role="form" id="cform" [formGroup]="payeeSearchForm">
                      <div class="row form-group">
                        <!---Payee code -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeCode">Payee Code
                              <sup class="required-field">*</sup>
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text"  appInputUpperCase class="form-control" formControlName="payeeCode" maxlength="10">
                          </div>
                          <control-messages [control]="payeeSearchForm.controls.payeeCode"></control-messages>
                        </div>
  
                        <!---Company Code -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="companyCode">Company Code
                              <sup class="required-field">*</sup>
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" appInputUpperCase class="form-control" formControlName="companyCode">
                          </div>
                          <control-messages [control]="payeeSearchForm.controls.companyCode"></control-messages>
                        </div>
                        <!---Legacy Source Code -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="legacySourceCode">Legacy Source Code
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="input" appInputUpperCase class="form-control" formControlName="legacySourceCode">
                          </div>
                          <control-messages [control]="payeeSearchForm.controls.legacySourceCode"></control-messages>
                        </div>
                      </div>
  
                      <!--form group -->
  
                      <div class="row form-group">
                        <div class="center">
                          <button class="btn btn-primary" (click)="onSearch(payeeSearchForm)">Search</button>
                          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                          <button class="btn btn-success" (click)="addPayee(payeeSearchForm)">Add Payee</button>
                        </div>
                      </div>
  
                      <div id="landingPage" class="row form-group" *ngIf="enablePayeeTable">
                        <div id="landingDataResults_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                          <div class="row">
                            <div class="">
                              <div class="table-responsive">
                                <table id="landingDataResults" class="table table-striped table-bordered table-hover dataTable" width="100%" role="grid"
                                  style="width: 100%;">
                                  <thead>
                                    <tr role="row">
                                      <th>Id</th>
                                      <th>Payee Name</th>
                                      <th>Payee Code</th>
                                      <th>Company Code</th>
                                      <th>Legacy Source Code</th>
                                      <th>Transaction code</th>
                                      <th>Account Type</th>
                                      <th>View</th>
                                      <th>Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let data of payeeServerResp" role="row" class="odd">
                                      <td>{{ data.id }}</td>
                                      <td>{{ data.payeeName }} </td>
                                      <td>{{ data.payeeCode }}</td>
                                      <td> {{ data.companyCode }}</td>
                                      <td>{{ data.legacySourceCode }} </td>
                                      <td>{{ data.achTransactionCode }} </td>
                                      <td> {{ data.accountType}}</td>
  
                                      <td class="center text-nowrap">
                                        <a class="oa-js-nav">
                                          <i class="pointer fa fa-pencil green" aria-hidden="true" title="View" (click)="viewPayeeRecord(data.id)"></i>
                                        </a>
                                      </td>
                                      <td class="center text-nowrap">
                                        <a class="oa-js-nav">
                                          <i class="pointer glyphicon glyphicon-trash text-error" aria-hidden="true" title="delete" (click)="deleteRecord(data.id)"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
  
  
  
                    </form>
                    <!--form -->
                  </div>
                </div>
              </div>
              <!--Container-fluid -->
  
  
            </div>
          </div>
        </div>
      </div>
      <!--Main content-->
    </div>
  </div>
  <!--Content -->