<div class="container">
  <h1>Check Service Center</h1>
  <p>
    This page allows selection of mocked out (pre-defined) data responses. Select a "persona" below to continue.
  </p>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Development Settings
      </div>
    </div>
    <div class="panel-body">
      <p>
        Development mode uses no delay in XHR calls when running locally.
      </p>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="devMode" checked="checked"> Use Development Mode
        </label>
      </div>

      <p>
        Error mode forces all XHR calls to return error responses.
      </p>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="devError"> Use Error Mode
        </label>
        <label>Status Code</label>
        <input type="number" id="devErrorCode" value="500">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Test Users
          </div>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              <a class="pointer internalLink" (click)="setCookieForBothUsers()" data-target="both">
                Both Users
              </a>
            </li>
            <li>
              <a class="pointer internalLink" (click)="setRequestCookie()" data-target="req">
                Request
              </a>
            </li>
            <li>
              <a class="pointer internalLink" (click)="setMaintCookie()" data-target="maint">
                Maint
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>