<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="confirmTitle" class="page-header">
                <div>
                  <h1>Successful Submission</h1>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="">
                <div *ngIf="voidSuccessMsg">
                  <p> Your void has been successfully submitted.</p>                
                </div>

                <div *ngIf="repalceSuccessMsg">
                  <p> Your check replacement has been successfully submitted. </p>
                 
                </div>
                <div *ngIf="disbursementSuccess">
                  <p> Your disbursement has been successfully submitted. </p>
                </div>

                <div *ngIf="originalInterface">
                    <p>Please attach the original check to the interface report. </p>
                </div>

                <div class="center">
                  <i class="glyphicon glyphicon-home"></i>
                  <br>
                  <a class="internalLink" routerLink="/home/yourTransactions">Check Service Center Home</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Container End-->
        </div>
      </div>
    </div>
  </div>
</div>